
.about_content
  %div{ :style => 'float: left; font-size: .8em; margin-bottom: 50px;' }
    = link_to '[ Back to front page ]', root_path

%p{ :style => 'clear: both;' }
  %h1 About PasswordPusher

.about_content
  %p
    PasswordPusher is an application to communicate passwords over the web. Links to passwords expire after a certain number of views and/or time has passed. Hosted at
    = succeed '.' do
      = link_to "pwpush.com", "https://pwpush.com"

  %p
    The source code this site is based on is
    = succeed "." do
      = link_to "on Github", "https://github.com/pglombardo/PasswordPusher"
    It's opensource and free for anyone to use or modify.  Use it internally at your organization, host it publicly or just use
    = succeed "." do
      = link_to "pwpush.com", "https://pwpush.com"
    It's up to you.

.about_content
  %div{ :style => 'float: left; font-size: .8em; margin-bottom: 50px;' }
    = link_to '[ Back to front page ]', root_path
